<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      {% if page.title == "Home" %}
        {{ site.title }}
      {% else %}
        {{ site.title }} &middot; {{ page.title }}
      {% endif %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->

    <script src="https://use.typekit.net/xkh4jji.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
    <body>
      <div class="header-wrapper">
        <header>
         <a class="site-title" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/images/aviatrix.png" />
        </a>
        </header>
      </div>
