<ul class="links">
  <li>
    <a href="https://twitter.com/antiheroine" title="Twitter">
      <svg class="icon icon-footer icon-twitter">
        <use xlink:href="{{ site.baseurl }}/defs.svg#icon-twitter"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://jenmyers.net" title="Website">
      <svg class="icon icon-footer icon-earth">
        <use xlink:href="{{ site.baseurl }}/defs.svg#icon-earth"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="mailto:hello@jenmyers.net" title="Email">
      <svg class="icon icon-footer icon-envelope-o">
        <use xlink:href="{{ site.baseurl }}/defs.svg#icon-envelope-o"></use>
      </svg>
    </a>
  </li>
</ul>
