<ul class="links">
  <li>
    <a href="{{ site.baseurl }}/" aria-label="Home">
      <svg class="icon icon-footer icon-home">
        <title>Home</title>
        <use xlink:href="{{ site.baseurl }}/defs.svg#icon-home3"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/antiheroine" aria-label="Twitter">
      <svg class="icon icon-footer icon-twitter">
        <title>Twitter</title>
        <use xlink:href="{{ site.baseurl }}/defs.svg#icon-twitter"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://jenmyers.net" aria-label="Website">
      <svg class="icon icon-footer icon-earth">
        <title>Website</title>
        <use xlink:href="{{ site.baseurl }}/defs.svg#icon-earth"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="mailto:hello@jenmyers.net" aria-label="Email">
      <svg class="icon icon-footer icon-envelope-o">
        <title>Email</title>
        <use xlink:href="{{ site.baseurl }}/defs.svg#icon-envelope-o"></use>
      </svg>
    </a>
  </li>
</ul>
