/*
    Styles for thereportmargins.com
    Author: Jen Myers
    Email: hello@jenmyers.net
*/

// Body Border

html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
  width: 100%;
}

body:before, body:after {
  background-color: lighten($color-emphasis, 10%);
  content: "";
  height: 20px;
  position: fixed;
  left: 0;
  right: 0;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
}
body {
  border-left: 20px solid lighten($color-emphasis, 10%);
  border-right: 20px solid lighten($color-emphasis, 10%);
}

// Layout

body {
  background-color: $color-background;
  background-size: cover;
  color: $color-primary;
  font-family: $font-base;
  font-size: 1.8em;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  @media (max-width: 768px) {
    font-size: 1.6em;
  }
  @media (max-width: 380px) {
    font-size: 1.2em;
  }
}

.container {
  @include span-columns(10);
  @include shift(1);
  padding: 0em 2em;
  @media (max-width: 768px) {
    @include span-columns(12);
    @include shift(0);
  }
}

.header-wrapper {
  padding-top: 5em;
  text-align: center;
  img {
    vertical-align: middle;
  }
  a, a:hover {
    border-bottom: none;
  }
}

.footer-wrapper {
  padding: 0 0 2em 0;
  text-align: center;
}

.home {
  text-align: center;
}

// Typography

h1 {
  color: $color-primary;
  font-family: $font-accent;
  font-size: 200%;
  font-weight: bold;
  line-height: 1;
  margin: 1em 0 0.5em 0;
  text-transform: lowercase;
}

.page h1 {
  @extend h1;
  font-family: $font-base;
  margin: 1em 0 0.25em 0;
  text-transform: none;
}

h2 {
  color: lighten($color-primary, 10%);
  font-size: 85%; 
  font-family: $font-accent;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-bottom: 2em;
  text-transform: uppercase;
}

p {
  font-weight: 300;
  font-size: 90%;
  margin: 1em 0;
}

p.intro {
  margin: 1em 0 2em 0;
  font-style: italic;
}

p.footer {
  margin: 3em 0;
  font-style: italic;
  text-align: center;
}

ul {
  padding: 0;
}

ol {
  list-style-type: decimal;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: 1px solid darken($color-background, 5%);
  width: 60%
}

.note-list {
  li {
    font-size: 150%;
    font-weight: 500;
    list-style: none;
    margin-left: 0;
    padding-bottom: 0.5em;
    span {
      color: lighten($color-primary, 15%);
      display: inline-block;
      font-family: $font-accent;
      font-size: 50%;
      font-weight: 300;
      letter-spacing: 0.1em;
      margin-left: 0.5em;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }
}

ul.links li {
  display: inline-block;
  margin: 2em 1em;
  a {
    border-bottom: none;
  }
}

blockquote {
  font-style: italic;
}

// Anchors

a {
  @include transition-border-bottom;
  border-bottom: 2px solid darken($color-background, 10%);
  color: darken($color-emphasis, 50%);
  text-decoration: none;
  &:hover {
    @include transition-border-bottom;
    border-bottom: 2px solid darken($color-background, 20%);
    color: darken($color-emphasis, 100%);
  }
  &.button {
    @include transition-background;
    background-color: $color-emphasis;
    border-bottom: none;
    border-radius: 5px;
    display: block;
    font-family: $font-accent;
    font-weight: 500;
    margin: 2em auto;
    padding: 1em;
    text-align: center;
    text-transform: lowercase;
    width: 60%;
    &:hover {
      @include transition-background;
      background-color: darken($color-emphasis, 30%);
      color: $color-background;
    }
    &.footer {
      margin: 3em auto 0 auto;
    }
  }
}

.site-title {
  display: block;
  margin: 0 auto;
  padding: 0.5em 0;
}

img {
  @media only screen and (max-width : 500px) {
    width: 50%;
  }
}

#cz_embed_signup {
  margin: 0 auto;
  width: 60%;
  @media (max-width: 768px) {
    width: 80%;
  }
  h3 {
    border-bottom: 2px solid darken($color-background, 15%);
    font-size: 0.8em;
    font-weight: bold;
    margin: 1.5em 0 0.75em 0;
  }
}

label {
  font-size: 0.6em;
}

input {
  font-size: 0.5em;
  padding: 0.2em;
}

input[type=submit] {
  background-color: darken($color-emphasis, 50%);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 3em 0;
  width: 100%;
}

aside {
  font-size: 0.6em;
  font-style: italic;
}

// Premium Archive Styles

.campaign {
  margin: 1em 0;
}

// ICONS

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-footer {
  width: 1.5em;
  height: 1.5em;
}
