{% include header.html %}

  <div class="container page">
    <h1 class="note">{{ page.title }}</h1>
    <h2>{{ page.date | date_to_long_string }}</h2>
    {{ content }}
    <hr />
    <p class="footer"><strong>Modern Adventuress</strong> is a weekly email letter by <a href="http://jenmyers.net">Jen Myers</a>. You can <a href="https://jenmyers.substack.com/">subscribe at Substack.</a></p>
    <a class="button" href="{{ site.baseurl }}/archive/">Read all essays</a>
  </div>

{% include footer.html %}
